
.cen-text{
  padding-top: 80px;
}
.img-pos{
  margin-left: 30px;
}
STRONG {
  font-size: 25px;
  padding: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  text-align: right;
}
body{
  background-image: url("https://www.helenashawaiianfood.com/2018%20Site/hhf_2018/img/Home_pg_bkgrnd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.row-container{
  background-color: white;
  margin-top: 10vh;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.img-dim {
  width: 389px;
  length: 100px;
}
.hit{
  font-family: 'Lora',Serif;
  font-style: italic;
  font-size: 65px;
  text-align: center;
  color: white;
}
.but-two{
  font-size: 30px;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: transparent;
  color: white;
  border-color: white;
  padding-bottom: 15px;
}
.title{
  margin-top: 110px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.background{
  background-color: white;
}
.txet{
  margin-bottom: 70px;
}
.btn-outline-transparent {
  background-color: transparent;
  border: 2px solid black; /* Replace with your desired outline color */
}
#container {
  text-align: center;
}
